 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

body {
  background: #fafafa  ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background:HSLA(60, 17%, 95%, 1);

}

section {
  @include outer-container;

  li {
    font-size:12px;
    border:solid;
    border-color:white;
    @include span-columns(3);
    @include omega(3n);
    display: block;
    height:220px;
    width:220px;

    img{
      height:170px;
      width:208px;
    }



  }
}
