 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

header {
  height:81px;
  width:100%;
  background-color:white;
}

h1{
  color:HSLA(17, 68%, 49%, 1);
  size:300px;
  display:inline-block;
  margin-left:230px;
  font-family: sarif;

}

form {
    width:260px;
    margin-right:0px;
    margin-left:30px;
    display:inline-block;
}

.search {
    padding:8px 15px;
    color:HSLA(195, 51%, 54%, 1);
    border:0px solid #dbdbdb;
}

.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;

}

.register{
  display:inline-block;
  margin-left:380px;

}

.signin{
  display:inline-block;
  border:solid;
  padding:6px;
  border-radius:3px;
  margin-left:15px;
}






body {
  background: #fafafa  ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: HSLA(60, 17%, 95%, 1);

}

.leftside{
  height:1130px;
  width:230px;
  float:left;
  background-color:white;
  margin-left:230px;
  margin-top:50px;

  h5{
    margin-top:-30px;
    color:HSLA(0, 4%, 42%, 1);
  }
}

section {
  @include outer-container;
  float:right;
  margin-left:0px;
  width:800px;
  margin-right:180px;
  margin-top:25px;

  p{

    margin-top:-80px;
    color:HSLA(0, 4%, 42%, 1);
  }

}


  li {

    border-radius:3px;
    margin-top:10px;
    font-size:12px;
    border:solid;
    border-color:white;
    @include span-columns(3);
    @include omega(3n);
    display: block;
    height:220px;
    width:220px;
    background-color:white;
    position:relative;

    .box{
      height:25px;
      width:25px;
      top:5px;
      right:10px;
      position:absolute;
      background-color:gray;
      display:none;
      border-radius:5px;

    }

    .box2{
      height:25px;
      width:25px;
      top:5px;
      right:40px;
      position:absolute;
      background-color:gray;
      display:none;
      border-radius:5px;

    }


    &.showButtons .box, &.showButtons .box2 {
    display: block;
  }

    img{
      height:170px;
      width:208px;
      display:block;
      margin: 0 auto;


    }


    p{
      margin:0px;
    }


    .t{
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color:HSLA(0, 0%, 40%, 1);
      margin-top:5px;
      margin-left:3px;

      }

    .sn{
      float:left;
      color:HSLA(0, 0%, 70%, 1);
      margin-top:5px;
      margin-left:3px;
    }

    .p{
      float:right;
      color:HSLA(94, 50%, 51%, 1);
      margin-top:5px;
    }
    .cc{
      float:right;
      margin-left: 3px;
      color:HSLA(94, 50%, 51%, 1);
      margin-top:5px;
      margin-right:3px;
    }



  }
}

li:hover{
  box-shadow: 0 0 1em gray;
}
